h1 {
    padding-top: 1rem;
    padding-bottom: .5rem;
}

h2 {
    margin-top: 2rem;
}

h3 {
    padding-bottom: 1rem;
}

p {
    margin-left: 1rem;
    margin-right: 1rem;
}

.divSpace {
    height: 8rem;
}

#div2 {
    text-align: center;
    background-color: #9dad7f;
    font-family: 'Quicksand', sans-serif;
    color: white; 
}

.myInfo {
    padding-top: 13rem;
}

#davidpic {
    border-radius: 50%;
    padding-bottom: 2rem;
}

#githublogo {
    height: 5rem;
    width: 5rem;
    opacity: 50%;
    cursor: pointer;
    margin-left: 3rem;
    margin-right: 2rem;
}

#githublogo:hover {
    padding: .5rem;
    border-radius: 3rem;
}

#linkedlogo {
    height: 5rem;
    width: 5rem;
    opacity: 50%;
    cursor: pointer;
    margin-left: 2rem;
}

#linkedlogo:hover {
    padding: .5rem;
    border-radius: 3rem;
}

.projectContainer {
    background-color: #9dad7f;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    color: white;
}

.iconimgs {
    height: 10rem;
    width: 10rem;
    opacity: 50%;
    padding-bottom: 1rem;
}

h5 {
    padding-top: 1.5rem;
}

.projectCard {
    box-shadow: 0 0 2.5rem -5px black;
    padding-bottom: 3rem;
}

.projectCard:hover {
    padding: .5rem;
    border-radius: 3rem;
}

li {
    list-style-type: none;
    font-size: 1.5rem;
}

#resume {
    margin-top: 1rem;
    height: 7rem;

    opacity: 50%;
}

#resume:hover {
    padding: .5rem;
    border-radius: 1rem;
    cursor: pointer;
}